body{
  margin:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1{
  margin:0;
  font-family: 'Sacramento', cursive;
}
h2, h3{
  font-family: 'Sansita Swashed', cursive;
}

.top-container{
  background-color: #B8FFF9;
  position:relative;
  padding-top: 100px;
}

.mid-container{

}

.bottom-container{


}

.bottom-cloud{
  position:absolute;
  left:300px;
  bottom: 300px;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}

.profileImage{
  width: 25%;
  height: 25%;
}

.firstSkillImage{
  width: 20%;
  height: 20%;
}

.secondSkillImage{
  width: 15%;
  height: 15%;

}
